<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522088088979-mb730gkm7ppb1oenvptdtp3ncmfqqlgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522088088979-mb730gkm7ppb1oenvptdtp3ncmfqqlgf</string>
	<key>API_KEY</key>
	<string>AIzaSyBYfkaRhvXMheGTrqLbFGpFK_rf6y2UkcE</string>
	<key>GCM_SENDER_ID</key>
	<string>522088088979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.yumemi.komiya.test-dynamic</string>
	<key>PROJECT_ID</key>
	<string>komiya-test-dy</string>
	<key>STORAGE_BUCKET</key>
	<string>komiya-test-dy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522088088979:ios:56ab79064621e95d3ad466</string>
</dict>
</plist>